@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -5px) rotate(-1deg);
  }
  20% {
    transform: translate(-4px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(6px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(4px, 7px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes dot {
  0% {
    opacity: 0.3;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
/* RESOLUTION */
@media screen and (max-width: 1980px) {
  header {
    background-color: #009973;
    color: #ffc14d;
    font-size: larger;
    text-align: center;
    padding: 1%;
  }
  header h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
/* RESOLUTION */
@media screen and (max-width: 1980px) {
  footer {
    color: #ffc14d;
    background-color: #009973;
    padding: 1.5%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  footer a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #ffc14d;
    text-decoration: none;
  }
  footer .mention {
    font-size: 130%;
    float: left;
  }
  footer .mention:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  footer .email {
    font-size: 130%;
    float: right;
  }
  footer .email:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
}
/* RESOLUTION */
@media screen and (max-width: 1980px) {
  .pm {
    margin: auto;
    padding: 4% 0;
    width: 450px;
  }

  .mainmenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0% 5% 20% 5%;
  }

  main p {
    text-align: center;
    font-size: 1.5em;
    width: 100%;
  }

  .divider1, .divider2 {
    width: 27%;
    height: 15px;
    align-self: center;
  }

  .entrees {
    margin-top: 6%;
  }

  .entrees, .plats, .desserts {
    display: flex;
    width: 100%;
  }
  .entrees p, .plats p, .desserts p {
    width: 80%;
    text-decoration: none;
    position: relative;
    line-height: 20px;
    padding: 0 10px;
    text-align: center;
    font-size: 0.9em;
  }
  .entrees p:after, .plats p:after, .desserts p:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: transparent;
    transition: width 1s ease-in, background-color 1s ease-out;
  }
  .entrees p:hover:after, .plats p:hover:after, .desserts p:hover:after {
    width: 100%;
    left: 0%;
    background: black;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    margin: 0;
    font-family: "Kalam", cursive;
  }
  ul li {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    margin-bottom: 4%;
    padding: 0 3%;
  }

  .pm {
    background-color: #ffccccc4;
    font-family: "Kalam", cursive;
  }
  .pm p {
    font-weight: bold;
  }
  .pm .gradient {
    font-size: 50px;
    background: -webkit-gradient(linear, left bottom, right bottom, from(red), to(orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5%;
  }
  .pm h2 {
    font-family: "Devonshire", cursive;
    font-size: 2em;
    font-weight: normal;
    margin: 0;
  }
  .pm .divider1 {
    margin-left: 25px;
  }
  .pm .divider2 {
    margin-right: 25px;
  }
  .pm .foot span {
    font-family: "Devonshire", cursive;
    font-size: 1.5em;
    color: black;
  }
}
/* RESOLUTION */
@media screen and (max-width: 1980px) {
  .pm {
    margin: auto;
    padding: 4% 0;
    width: 450px;
  }

  .mainmenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0% 5% 20% 5%;
  }

  main p {
    text-align: center;
    font-size: 1.5em;
    width: 100%;
  }

  .divider1, .divider2 {
    width: 27%;
    height: 15px;
    align-self: center;
  }

  .entrees {
    margin-top: 6%;
  }

  .entrees, .plats, .desserts {
    display: flex;
    width: 100%;
  }
  .entrees p, .plats p, .desserts p {
    width: 80%;
    text-decoration: none;
    position: relative;
    line-height: 20px;
    padding: 0 10px;
    text-align: center;
    font-size: 0.9em;
  }
  .entrees p:after, .plats p:after, .desserts p:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: transparent;
    transition: width 1s ease-in, background-color 1s ease-out;
  }
  .entrees p:hover:after, .plats p:hover:after, .desserts p:hover:after {
    width: 100%;
    left: 0%;
    background: black;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    margin: 0;
    font-family: "Kalam", cursive;
  }
  ul li {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    margin-bottom: 4%;
    padding: 0 3%;
  }

  .pagemenu2 {
    background-color: #fbeef7;
  }
  .pagemenu2 .divider1, .pagemenu2 .divider2 {
    width: 25%;
    height: 10px;
    align-self: center;
    margin: 0;
  }
  .pagemenu2 h2 {
    padding-top: 3%;
    font-family: "Croissant One", cursive;
    font-size: 2em;
    background: -webkit-gradient(linear, left top, right bottom, from(#ff7b00), to(#8747bb));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .pagemenu2 .entrees, .pagemenu2 .color1 {
    color: #ff7b00;
  }
  .pagemenu2 .plats, .pagemenu2 .color2 {
    color: #902d53;
  }
  .pagemenu2 .desserts, .pagemenu2 .color3 {
    color: #8747bb;
  }
}
/* RESOLUTION */
@media screen and (max-width: 1980px) {
  .pagemenu3 {
    background-color: #f2f2f2;
    padding-top: 20px;
  }
  .pagemenu3 .pm {
    margin: auto;
    padding: 4% 0;
    width: 450px;
  }
  .pagemenu3 .mainmenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0% 5% 20% 5%;
  }
  .pagemenu3 main p {
    text-align: center;
    font-size: 1.5em;
    width: 100%;
  }
  .pagemenu3 .divider1, .pagemenu3 .divider2 {
    width: 27%;
    height: 15px;
    align-self: center;
  }
  .pagemenu3 .entrees {
    margin-top: 6%;
  }
  .pagemenu3 .entrees, .pagemenu3 .plats, .pagemenu3 .desserts {
    display: flex;
    width: 100%;
  }
  .pagemenu3 .entrees p, .pagemenu3 .plats p, .pagemenu3 .desserts p {
    width: 80%;
    text-decoration: none;
    position: relative;
    line-height: 20px;
    padding: 0 10px;
    text-align: center;
    font-size: 0.9em;
  }
  .pagemenu3 .entrees p:after, .pagemenu3 .plats p:after, .pagemenu3 .desserts p:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: transparent;
    transition: width 1s ease-in, background-color 1s ease-out;
  }
  .pagemenu3 .entrees p:hover:after, .pagemenu3 .plats p:hover:after, .pagemenu3 .desserts p:hover:after {
    width: 100%;
    left: 0%;
    background: black;
  }
  .pagemenu3 ul {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    margin: 0;
    font-family: "Kalam", cursive;
  }
  .pagemenu3 ul li {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    margin-bottom: 4%;
    padding: 0 3%;
  }
  .pagemenu3 h2 {
    font-family: "Dancing Script", cursive;
    font-size: 2em;
    color: blue;
    background: -webkit-gradient(linear, left top, right bottom, from(blue), to(#b2b8f7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .pagemenu3 p {
    font-weight: normal;
  }
  .pagemenu3 .divider1 {
    height: 7px;
    width: 25%;
  }
  .pagemenu3 .divider2 {
    height: 7px;
    width: 25%;
  }
}
/* RESOLUTION */
@media screen and (max-width: 1980px) {
  .pm {
    margin: auto;
    padding: 4% 0;
    width: 450px;
  }

  .mainmenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0% 5% 20% 5%;
  }

  main p {
    text-align: center;
    font-size: 1.5em;
    width: 100%;
  }

  .divider1, .divider2 {
    width: 27%;
    height: 15px;
    align-self: center;
  }

  .entrees {
    margin-top: 6%;
  }

  .entrees, .plats, .desserts {
    display: flex;
    width: 100%;
  }
  .entrees p, .plats p, .desserts p {
    width: 80%;
    text-decoration: none;
    position: relative;
    line-height: 20px;
    padding: 0 10px;
    text-align: center;
    font-size: 0.9em;
  }
  .entrees p:after, .plats p:after, .desserts p:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: transparent;
    transition: width 1s ease-in, background-color 1s ease-out;
  }
  .entrees p:hover:after, .plats p:hover:after, .desserts p:hover:after {
    width: 100%;
    left: 0%;
    background: black;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    margin: 0;
    font-family: "Kalam", cursive;
  }
  ul li {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    margin-bottom: 4%;
    padding: 0 3%;
  }

  .pagemenu4 {
    background-color: white;
  }
  .pagemenu4 article {
    font-family: "Nanum Pen Script", cursive;
    font-size: 0.8em;
  }
  .pagemenu4 h2 {
    font-family: "Kaushan Script", cursive;
    font-size: 2em;
    background: -webkit-linear-gradient(left, #005700, #81ff81);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/* RESOLUTION */
@media screen and (max-width: 1980px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  * {
    box-sizing: border-box;
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .container .menu a, .container .menub a {
    font-size: 1em;
    display: inline-block;
    height: 350px;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    opacity: 1;
  }
  .container .menu a:hover, .container .menub a:hover {
    transform: scale(1.2);
    opacity: 0.7;
  }
  .container .part {
    padding-top: 40%;
  }
  .container .part1 {
    padding-top: 25%;
  }
  .container .menu {
    background-color: #ffccccc4;
  }
  .container .menuc {
    background-color: #fbeef7;
  }
  .container .menud {
    background-color: #f2f2f2;
  }
  .container .menu, .container .menub {
    width: 40%;
    max-width: 220px;
    height: 250px;
    margin-top: 5%;
    box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.548);
  }
  .container .menu a, .container .menub a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  .container .menu a .menu1, .container .menub a .menu1 {
    text-align: center;
  }
  .container .menu a .menu1 .part, .container .menub a .menu1 .part {
    width: 100%;
    height: 100%;
  }
  .container .menu a .menu1 h4, .container .menub a .menu1 h4 {
    font-size: 1.3em;
    margin: 0;
  }
  .container .menu a .menu1 h5, .container .menub a .menu1 h5 {
    font-size: 1.5em;
    margin-top: 10%;
  }
  .container .menu a .menu1 .gradient, .container .menub a .menu1 .gradient {
    font-size: 40px;
    background: -webkit-gradient(linear, left bottom, right bottom, from(#9b0d0d), to(#ffb300));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container .menu a .menu1 h4, .container .menub a .menu1 h4 {
    font-family: "Devonshire", cursive;
    font-size: 1.8em;
    color: black;
  }
  .container .menu a .menu1 h5, .container .menub a .menu1 h5 {
    font-family: "Nanum Pen Script", cursive;
    font-size: 2em;
    color: black;
    text-transform: uppercase;
  }
  .container .menu a .menu2, .container .menub a .menu2 {
    text-align: center;
  }
  .container .menu a .menu2 .degrade1, .container .menub a .menu2 .degrade1 {
    background: -webkit-gradient(linear, left top, right bottom, from(#ff5100), to(blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container .menu a .menu2 .part, .container .menub a .menu2 .part {
    width: 100%;
    height: 100%;
  }
  .container .menu a .menu2 h4, .container .menub a .menu2 h4 {
    font-size: 1.3em;
    margin: 0;
  }
  .container .menu a .menu2 h5, .container .menub a .menu2 h5 {
    font-size: 1.5em;
    margin-top: 10%;
  }
  .container .menu a .menu2 h4, .container .menub a .menu2 h4 {
    font-family: "Croissant One", cursive;
    font-size: 0.8em;
  }
  .container .menu a .menu2 h5, .container .menub a .menu2 h5 {
    color: orangered;
  }
  .container .menu a .menu3, .container .menub a .menu3 {
    text-align: center;
  }
  .container .menu a .menu3 .degrade, .container .menub a .menu3 .degrade {
    background: -webkit-gradient(linear, left top, right bottom, from(blue), to(#a8a8fd));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container .menu a .menu3 .part, .container .menub a .menu3 .part {
    width: 100%;
    height: 100%;
  }
  .container .menu a .menu3 h4, .container .menub a .menu3 h4 {
    font-size: 1.3em;
    margin: 0;
  }
  .container .menu a .menu3 h5, .container .menub a .menu3 h5 {
    font-size: 1.5em;
    margin-top: 10%;
  }
  .container .menu a .menu3 h4, .container .menub a .menu3 h4 {
    font-family: "Dancing Script", cursive;
    color: blue;
  }
  .container .menu a .menu3 h5, .container .menub a .menu3 h5 {
    font-family: "Nanum Pen Script", cursive;
    font-size: 1.5em;
    color: blue;
  }
  .container .menu a .menu4, .container .menub a .menu4 {
    text-align: center;
  }
  .container .menu a .menu4 .degrade2, .container .menub a .menu4 .degrade2 {
    font-size: 1.3em;
    background: -webkit-linear-gradient(left, green, lime);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container .menu a .menu4 .part, .container .menub a .menu4 .part {
    width: 100%;
    height: 100%;
  }
  .container .menu a .menu4 h4, .container .menub a .menu4 h4 {
    font-size: 1.3em;
    margin: 0;
  }
  .container .menu a .menu4 h5, .container .menub a .menu4 h5 {
    font-size: 1.5em;
    margin-top: 10%;
  }
  .container .menu a .menu4 h4, .container .menub a .menu4 h4 {
    font-family: "Kaushan Script", cursive;
  }
  .container .menu a .menu4 h5, .container .menub a .menu4 h5 {
    font-family: "Nanum Pen Script", cursive;
    font-size: 1.5em;
    color: green;
  }

  .soon {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: #009973;
    width: 50%;
    align-self: center;
    text-align: center;
    margin: 5%;
    border-radius: 10px;
    color: #ffc14d;
    max-height: 10%;
  }
  .soon h6 {
    padding: 4%;
    margin: 0;
    font-size: 150%;
  }
  .soon .animsoon span {
    animation-name: dot;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  .soon .animsoon span:nth-child(2) {
    animation-delay: 0.2s;
  }
  .soon .animsoon span:nth-child(3) {
    animation-delay: 0.4s;
  }
}
/* Resolution de transition*/
@media screen and (min-width: 659px) and (max-width: 880px) {
  .container {
    width: 600px;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
