@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@562&family=Oswald:wght@469&display=swap");
/* SEROLUTION MOBILE */
@media screen and (max-width: 639px) {
  header {
    background-color: #009973;
    color: #ffc14d;
    font-size: larger;
    text-align: center;
  }
  header h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  footer {
    color: #ffc14d;
    background-color: #009973;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  footer a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #ffc14d;
    text-decoration: none;
  }
  footer .mention {
    float: left;
  }
  footer .email {
    float: right;
  }
}
/* CHANGEMENT DE RESOLUTION */
@media screen and (min-width: 640px) and (max-width: 1024px) {
  header {
    background-color: #009973;
    color: #ffc14d;
    text-align: center;
  }
  header h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 4em;
  }

  footer {
    color: #ffc14d;
    background-color: #009973;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  footer a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #ffc14d;
    text-decoration: none;
    font-size: 2em;
  }
  footer .mention {
    float: left;
  }
  footer .email {
    float: right;
  }
}
/* RESOLUTION MOBILE */
@media screen and (max-width: 639px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  * {
    box-sizing: border-box;
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .container .menu a, .container .menub a {
    display: inline-block;
    height: 300px;
    position: relative;
    transition: all 1s ease-in-out;
    transform: scale(1);
    opacity: 0.5;
  }
  .container .menu a:hover, .container .menub a:hover {
    transform: scale(1.3);
    opacity: 1;
  }
  .container .part {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30%;
  }
  .container .menu {
    background-color: #ffcccc;
  }
  .container .menu, .container .menub {
    width: 40%;
    height: 300px;
    margin-top: 5%;
    border: 2px solid black;
  }
  .container .menu a, .container .menub a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  .container .menu a .menu1, .container .menub a .menu1 {
    text-align: center;
  }
  .container .menu a .menu1 .part, .container .menub a .menu1 .part {
    width: 100%;
    height: 100%;
    margin-top: 40%;
  }
  .container .menu a .menu1 h5, .container .menub a .menu1 h5 {
    font-size: 1.3em;
  }
  .container .menu a .menu1 .fab, .container .menub a .menu1 .fab {
    font-size: 2em;
    margin: 0;
  }
  .container .menu a .menu1 h4, .container .menub a .menu1 h4 {
    font-family: "Ma Shan Zheng", cursive;
  }
  .container .menu a .gradient, .container .menub a .gradient {
    background: linear-gradient(to right, #f00, #ff9933);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .container .menu a .menu2, .container .menub a .menu2 {
    text-align: center;
  }
  .container .menu a .menu2 .part, .container .menub a .menu2 .part {
    width: 100%;
    height: 100%;
    margin-top: 40%;
  }
  .container .menu a .menu2 h5, .container .menub a .menu2 h5 {
    font-size: 1.3em;
  }
  .container .menu a .menu2 .fab, .container .menub a .menu2 .fab {
    font-size: 2em;
    margin: 0;
  }
  .container .menu a .menu3, .container .menub a .menu3 {
    text-align: center;
  }
  .container .menu a .menu3 .part, .container .menub a .menu3 .part {
    width: 100%;
    height: 100%;
    margin-top: 40%;
  }
  .container .menu a .menu3 h5, .container .menub a .menu3 h5 {
    font-size: 1.3em;
  }
  .container .menu a .menu3 .fab, .container .menub a .menu3 .fab {
    font-size: 2em;
    margin: 0;
  }
  .container .menu a .menu3 h4, .container .menub a .menu3 h4 {
    font-family: "Dancing Script", cursive;
  }
  .container .menu a .menu3 h5, .container .menub a .menu3 h5 {
    font-family: "Nanum Pen Script", cursive;
    font-size: 1.5em;
  }
  .container .menu a .menu4, .container .menub a .menu4 {
    text-align: center;
  }
  .container .menu a .menu4 .part, .container .menub a .menu4 .part {
    width: 100%;
    height: 100%;
    margin-top: 40%;
  }
  .container .menu a .menu4 h5, .container .menub a .menu4 h5 {
    font-size: 1.3em;
  }
  .container .menu a .menu4 .fab, .container .menub a .menu4 .fab {
    font-size: 2em;
    margin: 0;
  }
  .container .menu a .menu4 h5, .container .menub a .menu4 h5 {
    font-family: "Nanum Pen Script", cursive;
    font-size: 1.5em;
  }

  .soon {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: #009973;
    width: 50%;
    align-self: center;
    text-align: center;
    margin: 10% auto;
    padding: 0;
    border-radius: 10px;
    color: #ffc14d;
  }
  .soon p {
    padding: 0;
  }

  .pagemenu1 {
    margin: 30px;
    text-align: center;
    background-color: #ffcccc;
  }
  .pagemenu1 .divider {
    display: table;
    white-space: nowrap;
    text-align: center;
    padding: 20px;
  }
  .pagemenu1 .divider:before, .pagemenu1 .divider:after {
    content: "";
    display: table-cell;
    width: 50%;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=) repeat-x left center;
  }
  .pagemenu1 ul {
    margin: auto;
    padding: 20px;
  }
  .pagemenu1 ul li {
    display: flex;
    justify-content: space-between;
    font-size: 0.88em;
  }
  .pagemenu1 .foot {
    margin: 30px 0;
  }

  .pagemenu2 {
    margin: 30px;
    text-align: center;
  }
  .pagemenu2 .divider {
    display: table;
    white-space: nowrap;
    text-align: center;
    padding: 20px;
  }
  .pagemenu2 .divider:before, .pagemenu2 .divider:after {
    content: "";
    display: table-cell;
    width: 50%;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=) repeat-x left center;
  }
  .pagemenu2 ul {
    margin: auto;
    padding: 20px;
  }
  .pagemenu2 ul li {
    display: flex;
    justify-content: space-between;
    font-size: 0.88em;
  }
  .pagemenu2 .foot {
    margin: 30px 0;
  }

  .pagemenu3 {
    margin: 30px;
    text-align: center;
    background-color: #f2f2f2;
    padding-top: 20px;
  }
  .pagemenu3 .divider {
    display: table;
    white-space: nowrap;
    text-align: center;
    padding: 20px;
  }
  .pagemenu3 .divider:before, .pagemenu3 .divider:after {
    content: "";
    display: table-cell;
    width: 50%;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=) repeat-x left center;
  }
  .pagemenu3 ul {
    margin: auto;
    padding: 20px;
  }
  .pagemenu3 ul li {
    display: flex;
    justify-content: space-between;
    font-size: 0.88em;
  }
  .pagemenu3 .foot {
    margin: 30px 0;
  }
  .pagemenu3 h2 {
    font-family: "Dancing Script", cursive;
    font-size: 2em;
    color: blue;
    background: linear-gradient(to right, blue, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .pagemenu3 article {
    font-family: "Nanum Pen Script", cursive;
    font-size: 0.85em;
  }

  .pagemenu4 {
    margin: 30px;
    text-align: center;
  }
  .pagemenu4 .divider {
    display: table;
    white-space: nowrap;
    text-align: center;
    padding: 20px;
  }
  .pagemenu4 .divider:before, .pagemenu4 .divider:after {
    content: "";
    display: table-cell;
    width: 50%;
    background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=) repeat-x left center;
  }
  .pagemenu4 ul {
    margin: auto;
    padding: 20px;
  }
  .pagemenu4 ul li {
    display: flex;
    justify-content: space-between;
    font-size: 0.88em;
  }
  .pagemenu4 .foot {
    margin: 30px 0;
  }
  .pagemenu4 article {
    font-family: "Nanum Pen Script", cursive;
    font-size: 0.85em;
  }
}
/* CHANGEMENT DE RESOLUTION */
@media screen and (min-width: 640px) and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  * {
    box-sizing: border-box;
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .container .menu, .container .menub {
    width: 30%;
    height: 300px;
    margin: 50px;
    border: 2px solid black;
    text-align: center;
  }
  .container .menu .part, .container .menub .part {
    width: 100%;
    height: 100%;
    margin-top: 40%;
  }
  .container .menu h5, .container .menub h5 {
    font-size: 1.3em;
  }
  .container .menu .fab, .container .menub .fab {
    font-size: 2em;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
