@mixin menu {
    text-align: center;
    .part
    {
        width: 100%;
        height: 100%;
    }
    h4
    {
        font-size: 1.3em;
        margin: 0;
    }
    h5
    {
        font-size: 1.5em;
        margin-top: 10%;
    }
}    
@mixin pagemenu {
    .pm
    {
        padding-bottom: 10%;
    }
    .mainmenu
    {
        display: flex;
        flex-direction: column; 
        text-align: center;
        margin: 0% 5% 20% 5%;
    }
    main p
    {
        text-align: center;
        font-size: 1.5em;
        width: 100%;
    }
    .entrees, .plats, .desserts
    {
        display: flex;
        width: 100%;
        p
        {
            width: 40%;
            font-size: 1.2em;
            font-weight: bold;
        }
    }
    .divider
    {
        width: 25%;
        height: 5px;
        margin: 25px 10% 0 10%;
        align-content: space-around;
        text-align: center; 
        border: 5px solid grey;
    }
    ul
    {
        margin: auto;
        padding: 0 20px 0 20px;
        li
        {
            display: flex;
            justify-content: space-between;
            font-size: 1em;
        }
    }
}
@mixin partzoom {
    .menu, .menub
    { 
        a
        {
            font-size: 1.0em;
            display: inline-block;
            height: 300px;
            position: relative;
            transition: all 0.3s ease-in-out;
            transform: scale(1);
            opacity: 1;
                &:hover 
                {
                    transform: scale(1.2);
                    opacity: 0.7;
                }    
        }
    }
    .part
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 40%;
    }
}