$charcolor: #ffc14d;
$headbcolor: #009973;
$colbkm1: #ffcccc;
$coltitm1: black;
$colbkm2: beige;
$coltitm2: orange blue;
$colbkm3: #f2f2f2;
$coltitm3: blue;
$colbkm4: white;
$coltitm4: green white;
$fontpage: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;