
@media screen and (max-width: 360px)
{
    footer
    {
        color: $charcolor;
        background-color: $headbcolor;
        padding: 1.5%;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        a
        {
            font-family: $fontpage;
            color: $charcolor;
            text-decoration: none;
        }
        .mention
        {
            font-size: 100%;
            float: left;
            &:hover{
            animation: shake 1s;
            animation-iteration-count: infinite;
            }
        }
        .email
        {
            font-size: 100%;
            float: right;
            &:hover {
            animation: shake 1s;
            animation-iteration-count: infinite;
            }
        }
    }
}

/* RESOLUTION */

@media screen and (min-width: 360px) and (max-width: 1980px)
{
    footer
    {
        color: $charcolor;
        background-color: $headbcolor;
        padding: 1.5%;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        a
        {
            font-family: $fontpage;
            color: $charcolor;
            text-decoration: none;
        }
        .mention
        {
            font-size: 130%;
            float: left;
            &:hover{
            animation: shake 1s;
            animation-iteration-count: infinite;
            }
        }
        .email
        {
            font-size: 130%;
            float: right;
            &:hover {
            animation: shake 1s;
            animation-iteration-count: infinite;
            }
        }
    }
}
