/* RESOLUTION */

@media screen and (max-width: 1980px)
{
    @include pagemenu();
    .pagemenu4
    {
        background-color: $colbkm4;
        article
        {
            font-family: 'Nanum Pen Script', cursive;
            font-size: 0.8em;
        }
        h2
        {
            font-family: $fontm4;
            font-size: 2em;
            background: -webkit-linear-gradient(left, rgb(0, 87, 0),rgb(129, 255, 129));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .entrees, .plats, .desserts
        {
            p:hover:after
            {
                background: rgb(129, 255, 129);
            }
        }
    }
}