/* RESOLUTION */

@media screen and (max-width: 1980px)
{
    @include pagemenu();
    .pagemenu2
    {
        background-color: $colbkm2;
        .divider1, .divider2
        {
            width: 25%;
            height: 10px;
            align-self: center;
            margin: 0;
        }
        h2
        {
            padding-top: 3%;
            font-family: $fontm2;
            font-size: 2em;
            background: -webkit-gradient(linear, left top, right bottom, from( rgb(255, 123, 0)), to(rgb(135, 71, 187)));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .entrees, .color1
        {
            color: rgb(255, 123, 0);
        }
        .plats, .color2
        {
            color: rgb(144, 45, 83);
        }
        .desserts, .color3
        {
            color: rgb(135, 71, 187);
            
        }
    }
}