/* RESOLUTION */

@media screen and (max-width: 1980px)
{
    @include pagemenu();
    .pm
    {
        background-color: $colbkm1;
        font-family: $fontmenu;
        p
        {
            font-weight: bold;
        }
        .gradient {
            font-size: 50px;
            background: -webkit-gradient(linear, left bottom, right bottom, from( red), to(orange));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 5%;
        }
        h2
        {
            font-family: $fontm1;
            font-size: 2em;
            font-weight: normal;
            margin: 0;
        }
        .divider1
        {
            margin-left: 25px;

        }
        .divider2
        {
            margin-right: 25px;
        }
        .entrees, .plats, .desserts
        {
            p:hover:after
            {
                background: black;
            }
        }
    .foot span
    {
        font-family: $fontm1;
        font-size: 1.5em;
        color: black;
    }
    }
}