/* RESOLUTION */

@media screen and (max-width: 1980px)
{
    .pagemenu3
    {
        @include pagemenu();
        background-color: $colbkm3;
        padding-top: 20px;
        h2
        {
            font-family: 'Dancing Script', cursive;
            font-size: 2em;
            color: $coltitm3;
            background: -webkit-gradient(linear, left top, right bottom, from( blue), to( rgb(178, 184, 247)));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p
        {
            font-weight: normal;
        }
        .divider1
        {
            height: 7px;
            width: 25%;
        }
        .divider2
        {
            height: 7px;
            width: 25%;
        }
        .entrees, .plats, .desserts
        {
            p:hover:after
            {
                background: blue;
            }
        }
    }
}